#profile{
    margin: 50px 400px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#image img{
    border: 2px solid black;
    border-radius: 50%;
    width: 200px;
}

#image, h2, h1{
    text-align: center;
}

p{
    font-size: 1.1rem;
}

.card{
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 20px;
}

.card-content{
    
    display: grid;
    grid-template-columns: 2fr 1fr;
}